.exercise {
  display: grid;
  grid-template-columns: max-content auto max-content max-content;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--background-alt);
  border-radius: 8px;
  overflow-y: hidden;
  transition: height 250ms;
  height: 3rem;

  &.reordering {
    height: 0;
  }

  &Handle {
    align-self: stretch;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Name {
    font-size: 0.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.deleteIcon {
  align-self: stretch;
  width: 3rem;
  color: var(--error);
}
