.root {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.set {
  background: var(--pop-color);
  color: black;
  padding: 2px 6px;
  border-radius: 5px;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: baseline;
  gap: 0.3rem;
}
