.root {
  display: grid;
  grid-template-rows: max-content auto;
}
.filters {
  padding-bottom: 0.75rem;
  background: var(--background);
  z-index: 1;
  &Input {
    grid-column-start: span 2;
    margin-bottom: 0.75rem;
    display: grid;
    grid-template-columns: max-content auto max-content;
    gap: 0.75rem;
    align-items: center;
    background: var(--background-alt-2);
    border-radius: 8px;
    padding: 0.25rem 0.75rem;
    input {
      padding: 0;
      outline: none;
      font-size: 1rem;
      letter-spacing: inherit;
      font-family: inherit;
      background: transparent;
      border: none;
    }
    &Clear {
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.3rem;
    }
    :global {
      .fa-solid {
        color: var(--accent-color);
      }
    }
  }
  &Others {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
  }
}
.items {
  overflow-y: auto;
  border-radius: 8px 8px 0 0;
  padding-bottom: 0.75rem;

  &InfiniteScroll {
    display: grid;
    grid-auto-flow: row;
    gap: 0.75rem;
    align-items: start;
    align-content: start;
  }
}
.item {
  background-color: var(--background-alt);
  border-radius: 10px;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  display: grid;
  grid-auto-flow: row;
  gap: 0.4rem;
  justify-items: start;

  &:active {
    transform: scale(0.98);
  }

  &Title {
    font-size: 1.1rem;
    font-weight: bold;
  }

  &Muscles {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    justify-self: stretch;
    border-bottom: 1px solid var(--divider);
  }
}

.historyPicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Remove default arrow */
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font-size: 0.8rem;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 8px;
  padding: 0.1rem 0.4rem;
  font-family: 'Permanent Marker', cursive;
  background: inherit;
  outline: none;

  option {
    background: var(--background-alt-2);
  }
}
