.default {
  /* light */
  --md-sys-color-primary-light: #3d528f;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #6ff7f4;
  --md-sys-color-on-primary-container-light: #00201f;
  --md-sys-color-secondary-light: #5abfbd;
  --md-sys-color-on-secondary-light: #000;
  --md-sys-color-secondary-container-light: #8fdbda;
  --md-sys-color-on-secondary-container-light: #051f1f;
  --md-sys-color-tertiary-light: #5abfbd;
  --md-sys-color-on-tertiary-light: #000;
  --md-sys-color-tertiary-container-light: #d2e4ff;
  --md-sys-color-on-tertiary-container-light: #031c35;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #bdcadc;
  --md-sys-color-on-background-light: #001d31;
  --md-sys-color-surface-light: #bdcadc;
  --md-sys-color-on-surface-light: #001d31;
  --md-sys-color-surface-variant-light: #dae5e3;
  --md-sys-color-on-surface-variant-light: #313636;
  --md-sys-color-outline-light: #6f7978;
  --md-sys-color-inverse-on-surface-light: #e7f2ff;
  --md-sys-color-inverse-surface-light: #003351;
  --md-sys-color-inverse-primary-light: #4ddad8;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006a68;
  --md-sys-color-outline-variant-light: #bec9c8;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #4ddad8;
  --md-sys-color-on-primary-dark: #003736;
  --md-sys-color-primary-container-dark: #00504f;
  --md-sys-color-on-primary-container-dark: #6ff7f4;
  --md-sys-color-secondary-dark: #b0ccca;
  --md-sys-color-on-secondary-dark: #1b3534;
  --md-sys-color-secondary-container-dark: #324b4a;
  --md-sys-color-on-secondary-container-dark: #cce8e6;
  --md-sys-color-tertiary-dark: #b2c8e8;
  --md-sys-color-on-tertiary-dark: #1b324b;
  --md-sys-color-tertiary-container-dark: #334863;
  --md-sys-color-on-tertiary-container-dark: #d2e4ff;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #001d31;
  --md-sys-color-on-background-dark: #cde5ff;
  --md-sys-color-surface-dark: #001d31;
  --md-sys-color-on-surface-dark: #cde5ff;
  --md-sys-color-surface-variant-dark: #3f4948;
  --md-sys-color-on-surface-variant-dark: #bec9c8;
  --md-sys-color-outline-dark: #889392;
  --md-sys-color-inverse-on-surface-dark: #001d31;
  --md-sys-color-inverse-surface-dark: #cde5ff;
  --md-sys-color-inverse-primary-dark: #006a68;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #4ddad8;
  --md-sys-color-outline-variant-dark: #3f4948;
  --md-sys-color-scrim-dark: #000000;
}
