.topBar {
    padding: 0.5rem;
    position: fixed;
    background-color: var(--background);
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    top: 0;
    right: 0;
    left: 0;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2rem;
    user-select: none;
}
.body {
    padding-top: 3rem;
}
