.root {
  max-height: 85vh;
  display: grid;
  gap: 0.75rem;
  padding: 0 1rem 1rem;
  button {
    padding: 0 1rem;
    min-height: 3rem;
    border-radius: 8px;
    border: 1px solid var(--divider);
    background-color: var(--background-alt);
    text-align: start;

    .noNickname {
      font-style: italic;
      color: var(--accent-color);
    }
  }
}
