.body {
  max-width: var(--max-width);
  margin: 0 auto;
  position: fixed;
  top: var(--top-bar-height);
  left: 0;
  right: 0;
  bottom: var(--bottom-bar-height);
  overflow-y: auto;
}

.bottomBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--bottom-bar-height);
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
  user-select: none;

  &Inner {
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    height: 100%;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding: 0.8rem 0 2rem;
      width: 100%;
      transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
      gap: 0.2rem;
      -webkit-tap-highlight-color: transparent;
      &.active {
        color: var(--accent-color);
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}
