.wrapper {
  display: grid;
  grid-template-rows: max-content auto;
  height: 100%;
}

.root {
  padding: 0 0.75rem 0.75rem;
  display: grid;
  grid-template-rows: auto max-content;
  gap: 0.75rem;
  overflow-y: auto;
}

.noSchedule {
  background: var(--md-sys-color-surface-container-highest);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
  padding: 0 15%;

  i {
    font-size: 2rem;
    color: var(--warn);
  }

  span {
    font-size: 1.1rem;
    font-weight: 300;
  }
}

.day {
  background: var(--md-sys-color-surface);
  border-radius: 8px;
  display: grid;
  grid-template-rows: max-content auto;
  overflow-y: auto;
  &Header {
    &Number {
      font-size: 1.3rem;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
    }

    &Meta {
      display: grid;
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
      justify-items: center;
      text-align: center;
    }
  }
}

.headerItem {
  &Title {
    color: var(--md-sys-color-primary);
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
  }
  &Value {
    font-size: 1.2rem;
    &Suffix {
      margin-left: 0.15rem;
      font-size: 0.7rem;
      color: var(--md-sys-color-primary);
    }
  }
}

.exercises {
  overflow-y: auto;
  padding: 0 1.25rem;
  margin-top: 1rem;
  .exercise {
    display: grid;
    grid-template-columns: auto max-content;
    grid-auto-rows: auto;
    margin-bottom: 1rem;
    align-items: center;
    gap: 0.2rem 0.5rem;

    &Name {
      font-size: 1.1rem;
    }

    &Group {
      grid-row-start: span 2;
    }
    &Duration {
      font-size: 0.8rem;
      color: var(--accent-color);
    }
  }
}

.actions {
  display: flex;
  gap: 0.5rem;

  .editPlanButton {
    flex: 1;
  }
  .startButton {
    flex: 2;
  }
  .actionsMenu {
    position: relative;
  }
}
