.root {
  display: grid;
  grid-template-rows: max-content auto;
  height: var(--between-bars);
}

.noHistory {
  margin: 0 1rem;
}

.workouts {
  overflow-y: auto;
  &Inner {
    padding: 0 1rem 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.workout {
  background-color: var(--md-sys-color-surface-high);
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: relative;
  --md-elevation-level: 1;
  &Actions {
    display: flex;
    gap: 0.75rem;
    &ViewExercises {
      flex: 1;
    }
    :global .danger {
      width: 3rem;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    .header {
      font-size: 1.2rem;
    }
    label {
      color: var(--md-sys-color-primary);
      font-size: 0.9rem;
      margin-bottom: 0;
    }
    .suffix {
      color: var(--placeholder);
      font-size: 0.8rem;
    }
  }
}
.exercises {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .exercise {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &Header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
    }
  }
}
