@import '~antd/lib/style/themes/default.less';
.header {
    color: @lime-6;
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
}
