.root {
  padding-bottom: 10vh;
}

.welcome {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
}

.intro {
  margin: 1rem;
  background: var(--background-alt);
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.9rem;
  line-height: 1.2;
  font-weight: 300;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  will-change: margin-bottom;
  grid-auto-columns: 100%;
  > div {
    scroll-snap-align: center;
  }
}

.sectionHeader {
  font-family: 'Permanent Marker', cursive;
  margin: 1rem;
}

.marketingImages {
  gap: 1rem;
  padding: 1rem 3rem;

  > div {
    img {
      border-radius: 16px;
      border: 2px solid var(--background-inverse) !important;
    }
  }
}

.sellingPoints {
  padding: 0 1.5rem;
  gap: 1rem;
}

.sellingPoint {
  background-color: var(--background-alt-2);
  padding: 1rem;
  border-radius: 8px;

  &Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    :global {
      .fa-solid {
        color: var(--accent-color);
      }
    }
  }
}
