.noDays {
  display: grid;
  align-items: start;
  justify-items: center;
  grid-template-rows: max-content max-content;
  gap: 1rem;
  margin: 1rem;
}

.root {
  height: 100%;
  display: flex;
  flex-direction: column;

  h1 i {
    font-size: 1rem;
    padding: 0 0.25rem;
  }
}
.workouts {
  flex: 1;
  overflow-y: auto;
  padding-right: 0.75rem;
}
.workout {
  height: 4rem;
  display: grid;
  grid-template-columns: 3rem auto;
  margin-bottom: 1rem;
  will-change: height;
  transition: height 200ms;

  &.expanded {
    height: 8rem;
  }

  &Handle {
    touch-action: none;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Body {
    background-color: var(--background-alt);
    border-radius: 8px;
    overflow-y: hidden;
    button {
      margin: 0;
      width: 100%;
      text-align: unset;
    }
    &Upper {
      display: flex;
      padding: 0.5rem 1rem;
      &Left {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 3rem;
        justify-content: center;
        gap: 0.3rem;
        min-width: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;

        .muscleGroups {
          display: flex;
          gap: 0.5rem;
          .none {
            color: var(--color-secondary);
            font-size: 0.9rem;
          }
        }
      }

      &Arrow {
        border-radius: 1000px;
        margin-top: 0.5rem;
        width: 2rem;
        height: 2rem;
        background-color: var(--background-alt-2);
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          transition: transform 200ms;
        }

        &.expanded i {
          transform: rotate(-90deg);
        }
      }
    }
    &Lower {
      margin: 0.75rem;
      display: flex;
      gap: 0.75rem;
      > *:not(:global .danger) {
        flex: 1;
      }
      :global .danger {
        padding: 0 1rem;
      }
    }
  }
}

.addActions {
  display: flex;
  justify-content: flex-end;
}
.actions {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  align-items: center;
  gap: 0.75rem;

  .autoSaveTip {
    flex: 1;
    color: var(--color-secondary);
    font-size: 0.8rem;
    background: var(--background-alt);
    padding: 0.25rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 0 0.5rem;
    height: 2.5rem;
    align-items: center;
    gap: 0.4rem;
  }
}
