.routeLoader {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  animation: loadingFadeIn 500ms forwards;
}

@keyframes loadingFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
