.day {
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: var(--background-alt);
  &Header {
    display: grid;
    grid-template-columns: max-content max-content auto max-content;
    align-items: center;
    outline: none;
    font-weight: bold;
    &::-webkit-details-marker {
      display: none;
    }

    .nicknameInputWrapper {
      padding-left: 1rem;
      input {
        width: 100%;
        background: var(--background);
        border: 1px solid var(--divider);
        outline: none;
        border-radius: 6px;
        padding: 6px 10px;
        font-family: inherit;

        &::placeholder {
          color: var(--error);
        }
      }
    }
  }

  &Number {
    padding: 0.75rem 0 0.75rem 0.25rem;
  }

  &Handle {
    height: 3rem;
    overflow: hidden;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    transition: width 250ms, margin-right 250ms;

    &.reordering {
      margin-right: 0;
      width: 3rem;
    }
  }

  &DeleteIcon {
    height: 3rem;
    width: 3rem;
    color: var(--error);
  }
}

.exercises {
  padding-top: 0.75rem;

  &.reorder {
    padding-top: 0;
    border-top: none;
  }
}

.noExercises {
  padding: 0 0.75rem;
  color: var(--error);
  &.reorder {
    display: none;
  }
}

.addExercise {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--background-alt);
  border-radius: 8px;
  width: 100%;
  height: 3rem;
  overflow-y: hidden;
  transition: height 250ms;

  &Name {
    justify-self: start;
  }

  &Handle {
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Name {
    font-size: 0.9rem;
  }

  &.reorder {
    height: 0;
  }
}

.deleteIcon {
  height: 3rem;
  width: 3rem;
  color: var(--error);
}
