.topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    position: fixed;
    background-color: var(--background);
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    top: 0;
    right: 0;
    left: 0;
    font-family: 'Syne Mono', monospace;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2rem;
    &Title {
        color: var(--coral);
        font-family: 'Syne Mono', monospace;
        font-weight: bold;
    }
    &SettingsLink {
        height: 2rem;
        width: 2rem;
        text-align: center;
        line-height: 2rem;
    }
}
.body {
    padding-top: 3rem;
}
