.topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: var(--background);
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    top: 0;
    right: 0;
    left: 0;
    font-family: 'Syne Mono', monospace;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2rem;
    user-select: none;
    &Title {
        color: var(--coral);
        font-family: 'Syne Mono', monospace;
        font-weight: bold;
        padding: 0.5rem;
    }
    &SettingsLink {
        height: 3rem;
        width: 3rem;
        text-align: center;
        line-height: 3rem;
        transition: transform 100ms;
        -webkit-tap-highlight-color: transparent;
        &:active,
        &:focus {
            transform: scale(0.9);
        }
    }
}
.body {
    padding-top: 3rem;
}
