.standard-button {
  background-color: var(--background-alt);
  align-items: center;
  border: 1px solid var(--background-alt);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  cursor: pointer;
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  gap: 0.75rem;
  min-height: 3rem;
  padding: 0 calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: transform 150ms, box-shadow 150ms, border-color 150ms;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Permanent Marker', cursive;

  &.primary {
    background-color: var(--pop-color);
    color: black;
    border-color: var(--pop-color);
  }

  &.outlined {
    background-color: transparent;
    border: 1px solid;
    border-color: var(--divider);

    &.highlighted:not(:disabled) {
      background-color: var(--accent-color);
      color: var(--color-inverse);
      border-color: var(--accent-color);
    }
  }

  &.danger {
    border: 2px solid var(--error);
    color: var(--error);
  }

  &:disabled {
    background-color: rgba(128, 128, 128, 0.2);
    color: rgba(128, 128, 128);
    cursor: default;
  }

  &.slim {
    min-height: 2.5rem;
  }

  &.micro {
    min-height: 2rem;
  }
}

.standard-button:not(:disabled) {
  &:active {
    transform: translateY(2px);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
}
