.wrapper {
  display: grid;
  grid-template-rows: max-content auto;
  height: 100%;
}

.root {
  padding: 0 0.75rem 0.75rem;
  display: grid;
  grid-template-rows: auto max-content;
  gap: 0.75rem;
  overflow-y: auto;
}

.noSchedule {
  padding: 0 0.25rem;
  display: grid;
  align-items: start;
  justify-items: center;
  grid-template-rows: max-content max-content;
  gap: 1rem;
  margin-top: 1rem;
}

.day {
  background: var(--background-alt);
  border-radius: 8px;
  display: grid;
  grid-template-rows: max-content auto;
  overflow-y: auto;
  &Header {
    &Number {
      font-size: 1.3rem;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
    }

    &Meta {
      display: grid;
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
      justify-items: center;
      text-align: center;
    }
  }
}

.headerItem {
  &Title {
    color: var(--accent-color);
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
  }
  &Value {
    font-size: 1.2rem;
    &Suffix {
      margin-left: 0.15rem;
      font-size: 0.7rem;
      color: var(--secondary-color);
    }
  }
}

.exercises {
  overflow-y: auto;
  padding: 0 1.25rem;
  margin-top: 1rem;
  .exercise {
    display: grid;
    grid-template-columns: auto max-content;
    grid-auto-rows: auto;
    margin-bottom: 1rem;
    align-items: center;
    gap: 0.2rem 0.5rem;

    &Name {
      font-size: 1.1rem;
    }

    &Group {
      grid-row-start: span 2;
    }
    &Duration {
      font-size: 0.8rem;
      color: var(--accent-color);
    }
  }
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
}
