@import './themes.scss';

@mixin light {
  --md-sys-color-primary: var(--md-sys-color-primary-light);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
  --md-sys-color-on-primary-container: var(
    --md-sys-color-on-primary-container-light
  );
  --md-sys-color-secondary: var(--md-sys-color-secondary-light);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
  --md-sys-color-secondary-container: var(
    --md-sys-color-secondary-container-light
  );
  --md-sys-color-on-secondary-container: var(
    --md-sys-color-on-secondary-container-light
  );
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
  --md-sys-color-tertiary-container: var(
    --md-sys-color-tertiary-container-light
  );
  --md-sys-color-on-tertiary-container: var(
    --md-sys-color-on-tertiary-container-light
  );
  --md-sys-color-error: var(--md-sys-color-error-light);
  --md-sys-color-error-container: var(--md-sys-color-error-container-light);
  --md-sys-color-on-error: var(--md-sys-color-on-error-light);
  --md-sys-color-on-error-container: var(
    --md-sys-color-on-error-container-light
  );
  --md-sys-color-background: var(--md-sys-color-background-light);
  --md-sys-color-on-background: var(--md-sys-color-on-background-light);
  --md-sys-color-surface: var(--md-sys-color-surface-light);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
  --md-sys-color-on-surface-variant: var(
    --md-sys-color-on-surface-variant-light
  );
  --md-sys-color-outline: var(--md-sys-color-outline-light);
  --md-sys-color-inverse-on-surface: var(
    --md-sys-color-inverse-on-surface-light
  );
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
  --md-sys-color-shadow: var(--md-sys-color-shadow-light);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
  --md-sys-color-scrim: var(--md-sys-color-scrim-light);
}

@mixin dark {
  --md-sys-color-primary: var(--md-sys-color-primary-dark);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
  --md-sys-color-on-primary-container: var(
    --md-sys-color-on-primary-container-dark
  );
  --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
  --md-sys-color-secondary-container: var(
    --md-sys-color-secondary-container-dark
  );
  --md-sys-color-on-secondary-container: var(
    --md-sys-color-on-secondary-container-dark
  );
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
  --md-sys-color-tertiary-container: var(
    --md-sys-color-tertiary-container-dark
  );
  --md-sys-color-on-tertiary-container: var(
    --md-sys-color-on-tertiary-container-dark
  );
  --md-sys-color-error: var(--md-sys-color-error-dark);
  --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
  --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
  --md-sys-color-on-error-container: var(
    --md-sys-color-on-error-container-dark
  );
  --md-sys-color-background: var(--md-sys-color-background-dark);
  --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
  --md-sys-color-surface: var(--md-sys-color-surface-dark);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
  --md-sys-color-on-surface-variant: var(
    --md-sys-color-on-surface-variant-dark
  );
  --md-sys-color-outline: var(--md-sys-color-outline-dark);
  --md-sys-color-inverse-on-surface: var(
    --md-sys-color-inverse-on-surface-dark
  );
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
  --md-sys-color-shadow: var(--md-sys-color-shadow-dark);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark);
  --md-sys-color-scrim: var(--md-sys-color-scrim-dark);
}

html,
body {
  @include light;

  --max-width: 540px;
  --top-bar-height: 3rem;
  --bottom-bar-height: 5.5rem;
  --between-bars: calc(
    100vh - calc(var(--top-bar-height) + var(--bottom-bar-height))
  );
  --md-ref-typeface-plain: 'Mitr', sans-serif;
  --md-ref-typeface-brand: 'Permanent Marker', sans-serif;

  --md-sys-color-surface-container-highest: color-mix(
    in oklab,
    var(--md-sys-color-background),
    var(--md-sys-color-primary) 16%
  );
  --md-sys-color-surface-container-high: color-mix(
    in oklab,
    var(--md-sys-color-background),
    var(--md-sys-color-primary) 12%
  );
  --md-sys-color-surface-container: color-mix(
    in oklab,
    var(--md-sys-color-background),
    var(--md-sys-color-primary) 8%
  );
  --md-sys-color-surface-container-low: color-mix(
    in oklab,
    var(--md-sys-color-background),
    var(--md-sys-color-primary) 4%
  );
  --md-sys-color-surface-container-lowest: var(--md-sys-color-background);

  padding: 0;
  margin: 0;
  font-family: var(--md-ref-typeface-plain);
  color: var(--md-sys-color-on-background);
  line-height: 1.1;
  background-color: var(--md-sys-color-background);

  &.dark {
    @include dark;
  }

  &:not(.light) {
    @media (prefers-color-scheme: dark) {
      @include dark;
    }
  }
}

#isometric_portal {
  position: absolute;
  top: 0px;
  left: 0px;
}

*::-webkit-scrollbar {
  display: none; // Safari and Chrome
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

* {
  box-sizing: border-box;
}

*:not(input) {
  user-select: none;
}

a,
button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  -webkit-touch-callout: none;
  appearance: none;
}

h1,
h2,
h3 {
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 1.25rem;
  padding: 0 1rem 0.75rem;
}

h2 {
  font-size: 1.125rem;
  padding: 1rem 0 0.25rem;
}

.loading-button {
  --md-circular-progress-active-indicator-color: var(--md-sys-color-secondary);
  --md-circular-progress-size: 32px;
}
