@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/solid.css';

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
    background-color: white;

    --coral: #e14658;
    --navy: #22252c;
    --mountain: #3f3250;
    --scrub: #c0b3a0;

    --background: white;

    @media (prefers-color-scheme: dark) {
        --background: var(--navy);
    }
    background-color: var(--background);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
