@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/solid.css';

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--background);

    --coral: #e14658;
    --navy: #22252c;
    --mountain: #3f3250;
    --scrub: #c0b3a0;

    --background: white;

    @media (prefers-color-scheme: dark) {
        --background: var(--navy);
    }
    &::-webkit-scrollbar {
        display: none; // Safari and Chrome
        -webkit-appearance: none;
        width: 0;
        height: 0;
    }
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-touch-callout: none;
}

* {
    box-sizing: border-box;
}
.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
